<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/mystyle.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="text-center">
            <h1>Kaffeparty</h1>
        </div>

        <nav class="navbar navbar-inverse ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="index.html">Index</a> </li>
                        <li><a class="navbar-brand" href="about.html">About</a> </li>
                        <li><a class="navbar-brand" href="product.html">Products</a> </li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container features">
        <div class="col-md-12 text-center">
            <i class="glyphicon glyphicon-briefcase"></i>
            <h2>Mer om oss som företag!</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="container text-center">
        <div class="col-xs-3">
            <img src="../images/no-profile-avatar-f.gif" class="img-responsive img-circle" />
            <ul class="list-unstyled">
                <li>Name: </li>
                <li>Position: </li>
                <li>Tel: </li>
                <li>Email: </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <img src="../images/nobody_m.original.jpg" class="img-responsive img-circle" />
           <ul class="list-unstyled">
                <li>Name: </li>
                <li>Position: </li>
                <li>Tel: </li>
                <li>Email: </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <img src="../images/nobody_m.original.jpg" class="img-responsive img-circle" />
            <ul class="list-unstyled">
                <li>Name: </li>
                <li>Position: </li>
                <li>Tel: </li>
                <li>Email: </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <img src="../images/no-profile-avatar-f.gif" class="img-responsive img-circle" />
            <ul class="list-unstyled">
                <li>Name: </li>
                <li>Position: </li>
                <li>Tel: </li>
                <li>Email: </li>
            </ul>
        </div>
    </div>
    <div class="panel-footer myfooter">
        <h4>Links</h4>
        <ul class="list-unstyled">
            <li><a href="index.html">Index</a> </li>
            <li><a href="about.html">About</a> </li>
            <li><a href="product.html">Products</a> </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src=".../Scripts/bootstrap.min.js"></script>
</body>
</html>
