<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/mystyle.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid page-header">
        <div class="">
            <h1 class="top">Blasting Off With my site</h1>
        </div>
        <div class="text-center">
            <ul class="list-inline">
                <li><a href="index.html">Index</a> </li>
                <li><a href="about.html">About</a> </li>
                <li><a href="product.html">Products</a> </li>
            </ul>
        </div>

    </div>
    <div class="container features">
        <div class="col-md-12 text-center">
            <i class="glyphicon glyphicon-briefcase"></i>
            <h2>Fastest Way To Make coffee</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="container text-center features">
        <div class="col-sm-4 col-xs-12">
            <i class="glyphicon glyphicon-book"></i>
            <h3>Book today!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <i class="glyphicon glyphicon-random"></i>
            <h3>Go anywhere</h3>
            <p>
                Lorem ipsum dolor sit amet, sed no quod vitae. Et eam dicunt nonumes senserit, aeque electram imperdiet cum an. Illum consequuntur ei vel. Vis scripta mnesarchum te, dicam graeci consulatu eam in. Et eam tation tacimates, ad brute antiopam conceptam has, augue aperiam tincidunt in est. Sea ei prima torquatos elaboraret, iuvaret debitis civibus ex pri, et has intellegam dissentias. At habeo dictas recteque vis, id vel nominavi percipitur mediocritatem.

                Est amet laudem id, ex dolore voluptatum ius. Case copiosae percipitur mea te, nostro percipitur eos ad. Tota dolore imperdiet has at, mei in agam dicam mediocrem. No veritus consulatu est, usu id vidit erant tation. Ne has esse mentitum elaboraret, ius simul persius fabellas ea.
            </p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <i class="glyphicon glyphicon-glass"></i>
            <h3>some text</h3>
            <p>
                Mea quando dolore an, ei nam quaeque postulant laboramus. In nec suas purto omnium. Sale choro libris nam ex. Sit euismod fastidii offendit ne, eu summo epicuri mei. At per tota apeirian. Mei eu mutat nostrum, usu ea cetero temporibus, vel sint oblique ullamcorper te.

                Eos mundi noluisse ne. Nec oblique alterum nonumes no, lobortis scriptorem est ad, ad explicari disputando sit. Facete legendos no pro, eu eum ubique maiorum. Amet petentium definiebas ius et, cum ad quas mutat aeterno. An mei molestie praesent, mea suas iisque ex.
            </p>
        </div>
    </div>
    <div class="panel-footer myfooter">
        <h4>Links</h4>
        <ul class="list-unstyled">
            <li><a href="index.html">Index</a> </li>
            <li><a href="about.html">About</a> </li>
            <li><a href="product.html">Products</a> </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src=".../Scripts/bootstrap.min.js"></script>
</body>
</html>
