body {
    background-image: url("/images/is-coffee-paleo.jpg");
    color:white;
}

.features .glyphicon{
    font-size:32px;
    color:red;
}
.features li{
    padding-right : 10%;
}
.myfooter{
    background-color:black;
    color: white;
}
.myheaderstyle{
    padding-right:10%;
}